* {
    box-sizing: border-box;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    overflow: hidden;
    font-family: Microsoft JhengHei, "Microsoft YaHei", sans-serif;
    background: linear-gradient(to left, #2a334a, #abb3c3);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-size: 30px;
    text-align: center;
}

.ball {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 100px;
    border: 3px solid #000;
    border-radius: 50px;
    background-color: #ff835c;
    /* box-shadow: 0px 0px 10px #000; */
    transition: width, height, background-color, border 400ms ease;
}

.ball:hover {
    border: 6px solid #000;
    background-color: #ff633c;
}

#readMe {
    font-size: 18px;
    border: 5px dashed #000;
    border-radius: 12px;
    display: inline-block;
}

#dvd {
    overflow: hidden;
}

#dvd img {
    position: relative;
    left: -300px;
    width: 300px;
    max-width: unset;
    filter: drop-shadow(300px 0px 0px #0def00);
}

#classController{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
}

img {
    max-width: 150px;
}